body {
  background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
  font-family: "Lobster", cursive;
}

.App {
  margin: auto;
  text-align: center;
  color: white;
  width: 500px;
  padding-top: 100px;
  font-size: 30px;
}
